<launch>
    <!-- to start up the car -->
    <!-- however, will not start room detection and voice recognition -->
    <!-- so that their logs can be separated from navigation nodes -->

	<!-- command line flags -->
    <!-- not used -->
	
    <!-- ###################################### -->
    <!-- ##       SIMULATION                 ## -->
    <!-- ###################################### -->



    <!-- ###################################### -->
    <!-- ##       NAVIGATION STACK           ## -->
    <!-- ###################################### -->
    <include file="$(find ucar_bringup)/launch/static_tf.launch" />
    <include file="$(find ydlidar)/launch/ydlidar.launch" />
    <include file="$(find ucar_controller)/launch/base_driver.launch" />

    <!-- start navigation stack -->
    <include file="$(find ucar_navigation)/launch/nav2.launch" />

    <!-- 运行move_base节点 -->
    <include file="$(find ucar_navigation)/launch/move_base_ff.launch"/>

    <!-- 运行lane_detection节点 -->
    <!-- <include file="$(find lane_detection)/launch/vp3.5.launch"/> -->
    <include file="$(find lane_detection_final)/launch/lane_detection_final_fast.launch"/>
    <!-- 运行视觉节点 -->
    <include file="$(find ucar_bringup)/launch/picture_start.launch"/>

    <!-- ###################################### -->
    <!-- ##       DECISION & LOGIC           ## -->
    <!-- ###################################### -->
    <include file="$(find qr)/launch/qr.launch" />
    <!-- <include file="$(find image_detect)/launch/image_detect.launch" /> -->
    <!-- <include file="$(find ucar_commander)/launch/ucar_commander_fast.launch" /> -->
    <!-- 启动twist_box节点 -->
    <include file="$(find tbox)/launch/twist_box.launch" />
    <!-- 运行pid_move节点 -->
    <include file="$(find pid_move)/launch/pid_move_fast.launch"/>
    <!-- 启动区域变参 -->
    <include file="$(find config_change)/launch/config_changer.launch"/>
    <!-- 启动move_base监听程序 -->
    <include file="$(find move_base_listener)/launch/movebase_listener.launch"/>
    <!-- 启动静态添加障碍物层 -->
    <include file="$(find costmap_modifier)/launch/modify_static_map.launch"/>
    <!-- 启动slam巡线 -->
    <node name="slam_lane_detection" pkg="slam_lane_detection" type="slam_lane_detection_node.py" output="screen">
    </node>
    <!-- not used -->

</launch>
