<launch>
  <include file="$(find ucar_bringup)/launch/static_tf.launch" />
  <include file="$(find ydlidar)/launch/ydlidar.launch" />
  <include file="$(find ucar_controller)/launch/base_driver.launch" />
  <include file="$(find usb_cam)/launch/usb_cam.launch" />
  <!-- 运行ekf滤波 --> 
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se" clear_params="true">
      <rosparam command="load" file="$(find ucar_navigation)/config/localization/ekf_params_twodom_imu.yaml"/>
      <remap from="odom" to="odom_raw"/>
  <remap from="odometry/filtered" to="/odom" /> 
  </node>
  
</launch>
