<launch>

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
    <param name="base_global_planner" value="global_planner/GlobalPlanner" />
    <!-- <param name="base_global_planner" value="astar_planner/AstarPlanner" /> -->
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/prohibition_areas.yaml" command="load" ns="global_costmap/costmap_prohibition_layer" />
    <!-- <rosparam file="$(find ucar_navigation)/config_test/move_base_s/prohibition_areas.yaml" command="load" ns="local_costmap/costmap_prohibition_layer" /> -->
		<!-- 插件代价地图线性化或者多边形 -->
    <!-- <rosparam file="$(find ucar_navigation)/config/move_base_s/costmap_converter_params.yaml" command="load" /> -->
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/move_base_params.yaml" command="load" />
    <rosparam file="$(find ucar_navigation)/config_test/move_base_s/teb_local_planner_params.yaml" command="load" />
    <rosparam file="$(find ucar_navigation)/config/move_base/GlobalPlanner.yaml" command="load" />
    <!-- <rosparam file="$(find ucar_navigation)/config_test/move_base_s/astar_param.yaml" command="load" /> -->
    <!-- <remap from="cmd_vel" to="cmd_vel_movebase"/> -->
  </node>
  
</launch>



