<launch>

    <node pkg="roborts_planning"  type="global_planner_node"  name="global_planner_node"    respawn="false" >
       <remap from="move_base_simple/goal" to="/rts_goal/goal" />
   </node>

    <node pkg="roborts_planning"  type="local_planner_node"  name="local_planner_node"    respawn="false" >
       <remap from="move_base_simple/goal" to="/rts_goal/goal" />
   </node>

    <node pkg="roborts_planning"  type="vel_converter"  name="vel_converter_node"    respawn="false" >
       <!-- <remap from="cmd_vel" to="cmd_vel_rts" /> -->
   </node>

    <node pkg="roborts_decision"  type="sel_behavior_node"  name="sel_behavior_node"    respawn="false"  output="screen">
      <remap from="cmd_vel_acc" to="cmd_vel_acc" />
      <remap from="cmd_vel" to="/cmd_vel" />
      <remap from="move_base_simple/goal" to="/robot_rts_simple/goal" />
   </node>

   <rosparam command="load" file="$(find ucar_navigation)/config/roborts/file_path.yaml" />
</launch>


