<!-- 需求：设置不同形状的机器人部件 -->
<robot name="my_car">
    <link name="base_link">
        <!-- ·可视化标签 -->
        <visual>
            <!-- 形状 -->
             <geometry>
                <!-- 长方体的长宽高 -->
                <box size="0.5 0.3 0.1" />
                <!-- 圆柱，半径和长度 -->
                <!-- <cylinder radius="0.5" length="0.1" /> -->
                <!-- 球体，半径-->
                <!-- <sphere radius="0.3" /> -->
            </geometry>
                <!-- 偏向弧度 -->
                <!-- xyz 设置机器人模型在x y z 上的偏移量
                    rpy 设置倾斜弧度 x(翻滚) y(俯仰) z(偏航) 
                -->
                <origin xyz="0 0 0" rpy="0 0 0" />
            <!-- 颜色 -->
                <!-- rgba: r(红色) g(绿色) b(蓝色) a(透明度) -->
                <material name="car_color">
                    <color rgba="1 0 0 1" />
                </material>
        </visual>
    </link>
</robot>